body {
	display: grid;
	grid-template-columns: 10% repeat(4, auto) 10%;
	grid-template-rows: repeat(6, 1fr);
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

p {
	grid-column: span 6;
}

div {
	grid-row-start: 3;
	/* grid-column: 2/span 4; */

}

.category {
	/* grid-column: 2; */
	grid-column: span 6;
	display: grid;
}

.btn {
	grid-row-start: 5;
	grid-column-start: 4;
	grid-column: span 6;
}